.page {
    position: relative;
    box-sizing: border-box;
    background: black;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}
