.header__button {
  background: none;
  outline: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all .5s ease;
  cursor: pointer;
}

.header__button:hover {
  opacity: .6;
}