.header {
  width: 100%;
  box-sizing: border-box;
  max-width: 882px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 41px;
}

@media screen and (max-width: 635px) {
  .header {
    min-height: 56px;
    padding-bottom: 30px;
  }
}